:root{
    --blue: #2B60DE;
    --black: #333;
    --light-color: #808080;
    --orange: #FFA500;
    --border:1px solid rgba(0,0,0,.2);
    --box-shadow:0 5px 10px rgba(0,0,0,.1);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-family: verdana;
	font-weight: lighter;
	text-decoration: none;
}

html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 60px;
}
section{
	padding: 2px 7%;
}

.btn{
	margin-top: 10px;
	display: inline-block;
	background: var(--blue);
	color: #FFFFFF;
	border-radius: 5px;
	padding: 9px 30px;
	cursor: pointer;
	font-size: 17px;
}
.btn:hover{
	background: var(--orange);
}

/*header*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: #2B60DE;
	box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
	padding: 0px 7%;
}
.header .logo{
	color: #FFFFFF;
	font-size: 30px;
	margin-right: auto;
	font-weight: bold;
}
.header .logo span{
	color: var(--orange);
	font-weight: bold;
}
.header .navbar ul{
	list-style: none;
}
.header .navbar ul li{
	position: relative;
	float: left;
}
.header .navbar ul li a{
	color: var(--orange);
	font-size: 15px;
	font-weight: bold;
	padding: 20px;
	display: block;
}
.header .navbar ul li a:hover{
	color: var(--blue);
	background: var(--orange);
}
.header .navbar ul li ul{
	position: absolute;
	left: 0;
	width: 117px;
	background: #FFFFFF;
	display: none;
}
.header .navbar ul li ul li{
	width: 100%;
	border-top: 1px rgba(0, 0, 0, 1);
}
.header .navbar ul li:focus-within > ul,
.header .navbar ul li:hover > ul{
	display: initial;
}
.header .navbar ul li ul li a{
	color: var(--blue);
}
.header .icon i{
	height: 45px;
	line-height: 45px;
	width: 45px;
	text-align: center;
	color: var(--black);
	background: #FFFFFF;
	border-radius: 50%;
	margin-left: 7px;
	font-size: 17px;
	cursor: pointer;
}
.header .icon i:hover{
	color: #FFFFFF;
	background: var(--orange);
}
.header .search-form{
	position: absolute;
	background: #FFFFFF;
	border-radius: 5px;
	display: flex;
	align-items: center;
	box-shadow: var(--box-shadow);
	top: 110%; right: 7%;
	height: 60px;
	width: 500px;
	padding: 10px;
	display: none;
}
.header .search-form.active{
	display: flex;
}
.header .search-form #search-box{
    width: 100%;
    border: var(--border);
    border-radius: 50px;
    padding: 10px;
    font-size: 17px;
    color: var(--black);
    height: 100%;

}
.header .search-form label{
	font-size: 10px;
	padding-left: 5px;
	padding-right: 10px;
	cursor: pointer;
	color: var(--black);
}
.header .search-form label:hover{
	color: var(--orange);
}
#menu-bars{
    display: none;
}

/*banner*/
.banner{
	min-height: 100vh;
    background: url(betawivebg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    padding-top: 80px;
}
.banner .content{
    text-align: center;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 30px;
    max-width: 500px;
}
.banner .content h3{
    font-size: 40px;
    color:var(--orange);
    text-transform: uppercase;
}
.banner .content p{
    font-size: 17px;
    color:var(--light-color);
    padding:10px 0;
    line-height: 1.5;
}

/*konten*/
.container{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap:15px;
    background:#EEEEEE;
    padding-top: 20px;
}
.container .posts-container .post{
    width: 100%;
    padding: 20px;
    background:#FFFFFF;
    border: var(--border);
    border-radius: 5px;
    margin-bottom: 15px;
}
.container .posts-container .post .image{
    height: 400px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.container .posts-container .post .title{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 35px;
    color:var(--black);
    font-weight: bold;
}
.container .posts-container .post .subtitle{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    color:var(--light-color);
}
.container .posts-container .post .text{
    color:var(--black);
    font-size: 15px;
    line-height: 1.7;
    padding:10px 0;
    text-align: justify;
}

.container .posts-container .post iframe{
	max-width: 100%;
	padding: 3rem 3rem;
}

/*sidebar*/
.container .sidebar .box{
    border:var(--border);
    border-radius: 5px;
    overflow: hidden;
    background: #FFFFFF;
    margin-bottom: 15px;
}
.container .sidebar .box .title{
    padding: 15px;
    font-size: 20px;
    color:var(--orange);
    background:var(--blue);
    text-transform: capitalize;
    font-weight: bold;
}
.container .sidebar .box .about{
    text-align: center;
    padding: 10px 15px;
}
.container .sidebar .box .about img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px 0;
}
.container .sidebar .box .about h3{
    color:var(--blue);
    font-size: 20px;
    font-weight: bold;
}
.container .sidebar .box .about p{
    color:var(--light-color);
    font-size: 15px;
    line-height: 1.5;
    padding:10px;
}

.calendar {
      font-family: 'IBM Plex Sans', sans-serif;
      position: relative;
      max-width: 300px; /* Reduced max-width */
      min-width: 100px;
      background: #fff;
      color: #333;
      margin: 20px auto;
      box-sizing: border-box;
      overflow: hidden;
      font-weight: normal;
      border-radius: 5px;
    }

    .calendar-inner {
      padding: 5px 5px;
    }

    .calendar .calendar-inner .calendar-body {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      text-align: center;
    }

    .calendar .calendar-inner .calendar-body div {
      padding: 4px;
      min-height: 5px;
      line-height: 10px;
      border: 1px solid transparent;
      margin: 10px 2px 0px;
    }

    .calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
      border: 1px solid transparent;
      border-bottom: 1px solid #ddd;
    }

    .calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
      border: 1px solid transparent;
      border-bottom: 1px solid #ddd;
    }

    .calendar .calendar-inner .calendar-body div>a {
      color: #333;
      text-decoration: none;
      display: flex;
      justify-content: center;
    }

    .calendar .calendar-inner .calendar-body div:hover {
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    .calendar .calendar-inner .calendar-body div.empty-dates:hover {
      border: 1px solid transparent;
    }

    .calendar .calendar-inner .calendar-controls {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .calendar .calendar-inner .calendar-today-date {
      display: grid;
      text-align: center;
      cursor: pointer;
      margin: 3px 0px;
      background: #f0f0f0;
      padding: 8px 0px;
      border-radius: 10px;
      width: 50%;
      margin: auto;
    }

    .calendar .calendar-inner .calendar-controls .calendar-year-month {
      display: flex;
      min-width: 100px;
      justify-content: space-evenly;
      align-items: center;
    }

    .calendar .calendar-inner .calendar-controls .calendar-next {
      text-align: right;
    }

    .calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
    .calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
      font-weight: 100;
      font-size: 20px;
    }

    .calendar .calendar-inner .calendar-body .calendar-today {
      background: #e0e0e0;
      border-radius: 4px;
    }

    .calendar .calendar-inner .calendar-body .calendar-today:hover {
      border: 1px solid transparent;
    }

    .calendar .calendar-inner .calendar-body .calendar-today a {
      outline: 2px solid #ddd;
    }

    .calendar .calendar-inner .calendar-controls .calendar-next a,
    .calendar .calendar-inner .calendar-controls .calendar-prev a {
      color: #333;
      font-family: arial, consolas, sans-serif;
      font-size: 10px;
      text-decoration: none;
      padding: 4px 12px;
      display: inline-block;
      background: #f0f0f0;
      margin: 5px 0 5px 0;
    }

    .calendar .calendar-inner .calendar-controls .calendar-next a svg,
    .calendar .calendar-inner .calendar-controls .calendar-prev a svg {
      height: 10px;
      width: 10px;
    }

    .calendar .calendar-inner .calendar-controls .calendar-next a svg path,
    .calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
      fill: #333;
    }

    .calendar .calendar-inner .calendar-body .prev-dates,
    .calendar .calendar-inner .calendar-body .next-dates {
      color: #ccc;
    }

    .calendar .calendar-inner .calendar-body .prev-dates:hover,
    .calendar .calendar-inner .calendar-body .next-dates:hover {
      border: 1px solid transparent;
      pointer-events: none;
    }

.container .sidebar .box .visitor-counter {
    font-size: 18px;
    margin-top: 10px;
}
.container .sidebar .box .visitor-counter .about p{
    color:var(--light-color);
    font-size: 15px;
    line-height: 1.5;
    padding: 10px;
}

/*footer*/
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--orange);
}
.footer .credit{
    text-transform: capitalize;
    font-size: 15px;
    color: var(--black);
    padding: 10px 0;
}
.footer .credit span{
    color: var(--blue);
}
.footer .sosmed{
    padding: 10px 0;
}
.footer .sosmed a{
    height: 40px;
    line-height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 17px;
    background: #FFFFFF;
    color: var(--black);
    margin: 0 1px;
    text-align: center;
}
.footer .sosmed a:hover{
    background: var(--blue);
    color: #FFFFFF;
}








/* media queries  */

@media (max-width: 991px){
 
    html{
        font-size: 55%;
    }

    .header{
        padding: 15px;
    }

    section{
        padding: 20px;
    }    

    .container{
        grid-template-columns: 2fr 1fr;
    }

}

@media (max-width:768px){

    #menu-bars{
        display: inline-block;
    }

    .header .search-form{
        top:100%; left: 0; right: 0;
        border-top: var(--border);
        width: 100%;
        border-radius: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        display: none;
    }

    .header .navbar{
        position: absolute;
        top:100%; left: 0; right: 0;
        background: #FFFFFF;
        display: none;
    }

    .header .navbar.active{
        display: block;
    }

    .header .navbar ul li{
    	width: 100%
    }

    .header .navbar ul li ul{
    	position: relative;
    	width: 100%;
    }

    .header .navbar ul li a{
        display: block;
        padding:10px;
        margin:10px;
    }

    @media (max-width:450px){

    html{
        font-size: 50%;
    }

    .contact form .inputBox input{
        width:100%;
    }    

}